PG_USERNAME=postgres
PG_PASSWORD=postgres
DB_NAME=finsmart
PG_PORT=5432

DATABASE_URL="postgresql://${PG_USERNAME}:${PG_PASSWORD}@postgres:5432/${DB_NAME}?schema=public"
JWT_SECRET="your_jwt_secret_here"
PORT=4000

